<div class="d-flex justify-content-center">
    <form>
        <h3>Signup</h3>
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Full name:</label>
            <input ng-model="newUser.fullName" type="text" class="form-control" id="exampleInputName"
                aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">User name:</label>
            <input ng-model="newUser.username" type="text" class="form-control" id="exampleInputUsername"
                aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input ng-model="newUser.email" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input ng-model="newUser.password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button ng-click="registerUser($event)" class="btn btn-primary">Submit</button>
    </form>
</div>